<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototype2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype2">
        <activity
            android:name=".barber.listApplyLeaveActivity"
            android:exported="false"
            android:theme="@style/Theme.Prototype2.NoActionBar" />
        <activity
            android:name=".customer.ratingServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Prototype2.NoActionBar" />
        <activity
            android:name=".barber.barberApplyLeaveActivity"
            android:exported="false"
            android:theme="@style/Theme.Prototype2.NoActionBar"
            />
        <activity
            android:name=".customer.paymentActivity"
            android:exported="false" />
        <activity
            android:name=".booking_calendar"
            android:exported="true"
            android:parentActivityName=".customer.customer">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".owner.addBarberService"
            android:exported="false"
            android:theme="@style/Theme.Prototype2.NoActionBar" />
        <activity
            android:name=".owner.addBarber"
            android:exported="false"
            android:theme="@style/Theme.Prototype2.NoActionBar" />
        <activity
            android:name=".owner.owner"
            android:exported="true"
            android:theme="@style/Theme.Prototype2.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".customer.customer"
            android:exported="true"
            android:theme="@style/Theme.Prototype2.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".barber.barber"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>